# OS & Editor
.DS_Store
Thumbs.db
*.log
/.idea
/.vscode
/.fleet
/.zed
/.nova

# Environment
.env
.env.*
.env.backup
.env.production

# Dependency
/vendor/
/node_modules/

# Laravel storage & cache
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build

# Laravel testing & cache
.phpunit.result.cache
.phpactor.json
/auth.json

# Homestead / Vagrant
Homestead.yaml
Homestead.json
/.vagrant

# NPM / Yarn
npm-debug.log
yarn-error.log
